.login {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/SVG.png);
}



.login-form {
  width: 100vw;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form > form {
  margin: 0 auto;
  width: 30%;
  border: 1px solid var(--altColor);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: var(--textColor);
  background-size: cover;
  
  /* background-position: right; */
}

.login-form > form > h2 {
  font-size: 22px;
}

.label {
  font-size: 12.5px;
  font-weight: 700;
  margin-top: 9px;
  margin-bottom: 2.5px;
}

.mail-input, .password-input {
  display: flex;
  border: 1px solid #ccc;
  align-items: center;
  padding: 8.5px;
  border-radius: 5px;
  width: 100%;
}

.email-icon {
  margin-right: 2px; 
}

.mail-input > input , .password-input > input{
  border: none; 
  flex-grow: 1; /* Allow input to grow to fill available space */
  width: 100%;
  height: 100%;
  outline: none; 
  background-color: transparent;
}

.password-input > span {
  cursor: pointer;
  height: 19px;
}

form > span {
  font-size: 13px;
  font-weight: 800;
  margin: 10px 0;
}

form > button {
  width: 104%;
  padding: 6.5px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  color: var(--textColor);
  background: var(--backColor)
}

form > button:hover {
 
  color: var(--backColor);
  background: var(--textColor);
  cursor: pointer;
  border: 1px solid var(--backColor);
  transition: .5s;
}


.error-text {
  text-align: center;
  font-size: 13px;
  color: red;
  font-weight: 500;
}