.agent-transactions > h2 {
  margin-left: 20px;
  font-weight: 400;
  font-size: 20px;
}

.agent-header {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

.agent-header > a {
  color: #000;
}

.agent-header > a:hover {
  letter-spacing: 1px;
  transition: .5s;
}

.agent-header > :nth-child(1) {
  font-size: 18px;
  text-decoration: none;
}

.agent-header > :nth-child(2) {
  font-weight: 600;
  margin-left: 30px;
  font-size: 18px;
}

.table-grid-cont {
  width: 1135px;
}